.about-heading {
  font-size: 4rem;
}

.about-info {
  margin: auto;
  max-width: 950px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  justify-items: stretch;
  grid-auto-rows: minmax(100px, auto);
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    'profile bio bio'
    'job1 job2 job3'
    'job4 job5 job6';
}

.job {
  background: lighten($color: $primary-color, $amount: 5);
  padding: 1rem;
  border-bottom: $secondary-color 5px solid;
}

.about-portrait {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: url('../img/profile.jpg');
  background-size: contain;
  opacity: 1;
  border: solid 3px $secondary-color;
  grid-area: profile;
  margin: auto;
}

.job-1 {
  grid-area: job1;
}

.bio {
  grid-area: bio;
  font-size: 1rem;
}

.job-2 {
  grid-area: job2;
}

.job-3 {
  grid-area: job3;
}

.job-4 {
  grid-area: job4;
}

.job-5 {
  grid-area: job5;
}
